body {
  font-family: Helvetica, Arial,  sans-serif;
  background-color: black;
  font-weight: bold;
}

p {
  font-family: Helvetica, Arial,  sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}

h3 {
  font-size: 40px;
  font-weight: 1000;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 3px;
}

.logo img {
  width: 60px;
}
.intro-container {
  text-align: right;
}

.intro-container h3 {
  font-size: 40px;
}

.category-container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #484848;
  border-top: 1px solid #484848;
  font-size: 18px;
  margin-bottom: 30px;
}

.category-section {
  margin: auto;
  padding-left: 40px
}

.category-active a {
  color: #24ca24;
}

.intro-container h3 {
  margin-bottom: 5px;
}

.about-container {
  text-align: right;
  margin-top: 30px;

  color: #484848;
}

.about-button {
  display: inline-block;
  color: #484848;
  font-size: 18px;
}

.about-button p {
  font-size: 18px;
}

.about-button:hover {
  cursor: pointer;
  color: #24FF00;
}

.empty-about-space {
  display: inline-block;
  width: 80%;
  height: 100%;
}

.card {
  background-color: transparent;
  /* height: 400px; */
  width: 100%;
  padding: 20px;
  border: 0px;
}

.card p {
  color: white;
}

.card h1 {
  color: white;
}

.card-2 {
  /* background-color: #24FF00; */
  height: 400px;
  width: 100%;
}
#spin_radio {
  width: 100%;
  transition: transform .2s;
}
#spin_radio:hover {
  transform: scale(1.1)
}
.card-3 {
  /* background-color: #24FF00; */
  height: 400px;
  width: 100%;
}

.card-container {
  margin: 5px;
}

.navbar-container {
  margin: 5px;
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
  /* background-color: #24ca24; */
}

.navbar-container a:hover {
  color: #24FF00;
}

.logo {
  font-size: 34px;
  color: #484848;
}

.nav {
  padding: 20px;
}

.navItems {
  color: #484848;
  z-index: 200;
  font-size: 18px;
  font-weight: 600;
  padding-right: 25px;
}

.navItems a {
  color: #484848;
  text-decoration: none;
}

#navItems-active {
  color: #24FF00;
  text-decoration: none;
}

#navItems-img-active {
  margin-left: 15px;
}

.container {
  width: 100%;
}

.card-container img {
  width: 300px;
  margin: auto;
}

.category-item-active {
  color: #24FF00;
}

.category-item {
  color: #484848;
}

.category-item a {
  color: #484848;
  text-decoration: none;
}

.category-section a:hover {
  text-decoration: none;
  color: #24FF00;
}

.category-item-active a {
  color: #24FF00;
  text-decoration: none;
}

.category-section-active a:hover {
  text-decoration: none;
  color: grey;
}

.arrow-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 3px;
}

.nav-arrow-item {
  margin-left: 2px;
  margin-bottom: 3px;
}

.contact-container {
  text-align: center;
}

.footer {
  width: 100%;
  height: 400px;
  padding: 20px;
  color: white;
  background-color: black;
  border-top: 1px solid #484848;
  margin-top: 30px;
}

.footer-2 p {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: lighter;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.footer-1 {
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: lighter;
  line-height: 57px;
  letter-spacing: -2px;
  text-align: left;
  color: #484848;
}

/* .card-container img:hover {
  background: url('./../content/greem.png');
  background-repeat: no-repeat;
  min-height: 430px;
  background-position: center;
} */
.card-container img {
  transition: transform .2s;
}
.card-container img:hover {
  transform: scale(1.1)
}
.link-left p {
  text-align: left;
}

.link-right p {
  text-align: right;
}

.link-left a {
  text-decoration: none;
  color: #24FF00;
}

.link-right a {
  text-decoration: none;
  color: #24FF00;
}

.container {
  margin-bottom: 100px;
}

.linkedin-logo {
  left: 197px;
  vertical-align: top;
  position: absolute;
}

.pad-20 {
  padding-left: 40px;
  padding-top: 25px;
}
.footer-item {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-item p {
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #484848;
  margin-top: 5px;
}

.footer-item a {
  text-decoration: none;
  color: #24FF00;
}

.footer-item a:hover {
  text-decoration: none;
}
.link-left p {
  text-align: left
}
.link-right p {
  text-align: right
}
.link-right img {
  width: 8px;
  margin: 0px;
  margin-bottom: 4px;
}

.link-left img {
  width: 8px;
  margin: 0px;
  margin-bottom: 4px;
}
.reklasic-footer {
  margin-bottom: 35px;
}
.company-url h1 a {
  color: white;

  text-decoration: none;
}
.inactiveLink {
  pointer-events: none;
  cursor: default;
}
.col-50 {
  width: 50%;
}
.img-100 {
  width: 100%;
  margin: 0 auto;
  display: block;

}
.img-80 {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
}
.margin-20 {
  margin-top:20px;
}
.margin-50 {
  margin-top: 50px;
}
.margin-10 {
  margin-top: 10px;
}
.margin-bot-20 {
  margin-bottom: 20px;
}

.solution-container {
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}