/* project */

ul {
    list-style-type: none;
    /* Removes bullet points */
    padding-left: 0;
    /* Optionally remove default padding */
    margin: 0;
    /* Optionally remove default margin */
    gap: 8px;
}

.hero-container {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.hero-container img {
    width: 100%;
    /* Image will stretch to fit the container's width */
    height: 100%;
    /* Image will stretch to fit the container's height */
    object-fit: contain;
    /* Scales the image to cover the entire container */
}

.overview {
    display: grid;
    /* Use grid layout */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr 1px 1fr;
    /* Four equal columns */
    /* gap: 20px; */
    /* Space between the columns */

    padding: 0px 20px;
    box-sizing: border-box;
    /* margin-bottom: 60px; */

    width: 100%;
    /* Full width of the container */
    background-color: #fff;

}

.detail-container {
    grid-column: 1;
    /* Left side */

    /* grid-row: 1 / span 2;
    overflow: hidden;
    grid-column: 1 / span 2; */
    margin-right: 20px;
    border: 1px solid #808008;
    height: fit-content;
    margin-top: 60px;
}

.cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inner-cell {
    padding: 20px;
    border-bottom: 1px solid #808080;
}

.year-cell {
    padding: 20px;
}

.overview-write {
    margin-top: 0px;
    grid-column: 3 ;
    /* Left side */
    padding-top: 60px;
    /* grid-column: 3 / span 4; */
    padding-left: 20px;
    padding-bottom: 20px;
    /* border-left: 1px solid #808080; Thicker blue left border */
}

.vertical-line {
    grid-column: 2;
    /* Middle column for the line */
    background-color: #808080;
    /* Line color */
    width: 1px;
    /* Line thickness */
    height: 100%;
    /* Ensure it spans the height of the section */
}

/* .hero-hr {
    padding: 0px;
    height: 1px;
    background-color: #808080;
    margin: 12px 20px;


} */

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


    padding: 40px 20px 0 20px;
    box-sizing: border-box;
    margin-bottom: 60px;

    width: 100%;
    background-color: #fff;

}

.content {
    width: 100%;
    padding: 0 0 0 20px;
    grid-column: 1 / 2;
    /* Ensure the content takes the first column */

}

.img-col {
    grid-column: 2 / 4;
}

.img-col-comp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 4;
}

.project-img-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: top;
    transition: background-color 0.3s;
    /* Smooth transition for background color */

}

.project-img-vert {
    width: 100%;
    height: 536px;
    display: flex;
    justify-content: center;
    align-items: top;
    transition: background-color 0.3s;
    /* Smooth transition for background color */
}

.project-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    /* transition: transition: all 1s ease-in-out; */

}

.hairline-hero {
    padding: 0px;
    height: 1px;
    background-color: #808080;
    margin: 0px 0px 12px 0px;

}

.hairline-full{
    padding: 0px;
    height: 1px;
    background-color: #808080;
    margin: 12px 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    /* * {
        outline: 1px solid red;
    } */
    .checkbook-h1 {
        font-size: 47px;
        font-weight: 400;
        font-family: 'dm sans';
        line-height: 47px;
        color: #000000;
        margin: 0;
    }
    .hero-container {
        width: 100%;
        min-height: 60vh;
        overflow: hidden;
        margin-top: 20px;
    }

    .hero-container img {
        width: 100%;
        /* Image will stretch to fit the container's width */
        height: 100%;
        /* Image will stretch to fit the container's height */
        object-fit: cover;
        /* Scales the image to cover the entire container */
    }

    .overview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; /* Full width of the container */
        padding: 20px;
        box-sizing: border-box; /* Include padding within the container */
    }

    .detail-container {
        margin: 0 auto;
        width: 100%; /* Ensure the container takes the full width */
        border: none;
    }

    .cell {
        width: 100%; /* Full width of the container */
        grid-template-columns: 1fr 1fr;
        gap: 0;
        border: 1px solid #808080;
    }

    .inner-cell {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #808080;
    }

    .year-cell {
        padding: 10px;
    }


    .overview-write {
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; /* Full width */
        box-sizing: border-box; /* Include padding within width */
    }

    .vertical-line {
        display: none; /* Hide the vertical line */
    }

    .content {
        width: 100%;
        /* display: flex; */
        grid-column: 1 / 2;
        padding: 0;
        /* Ensure the content takes the first column */
    
    }
    .content-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
    
        padding: 40px 20px 0 20px;
        box-sizing: border-box;
        margin-bottom: 60px;
    
        width: 100%;
        background-color: #fff;
    
    }

    .project-img-vert {
        width: 100%;
        height: calc(536px * 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        /* Smooth transition for background color */
    }
    .project-img-container {
        width: 100%;
        height: calc(536px * 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        /* Smooth transition for background color */
    }

    .img-col-comp {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .img-col {
        display: flex;
        flex-wrap: wrap;
    }
}